.sinborde {
   background-color: #eee;
   border: 0;
 }

 body{
 	align-content: center;
 	text-align: center;
 	align-items: center;
 	justify-content: center;
 }

 body{
  background-color: #222d2d;
  background-repeat: repeat-x;
  background-position: 0 0;

}
 
  input{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #000;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
.result{
	background-color: #222d2d;
  background-repeat: repeat-x;
  background-position: 0 0;

}